<header>
  <div class="header">
    <div class="header-burger">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="header-logo mFlex mAlignItemsCenter">
      <i class="fa fa-code" aria-hidden="true"></i>
      <h2>lorem ipsum</h2>
    </div>
    <app-navbar></app-navbar>
    <div class="header-rightMenu mFlex mAlignItemsCenter">
      <ul class="mNoMargingNoPadding mHeaderListStyles">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>
    </div>
    <div class="header-avatar mFlex mAlignItemsCenter">
      <a href="#">
        <img class="header-rightMenu-avatar" src="../../../assets/img/avatar.JPG" alt="avatar">
      </a>
    </div>
  </div>
</header>
